* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
a{
  text-decoration: none;
  color: #fff;
}
p {
  color: #555;
}
.nav-list ul li{
  display: inline-block;
  margin-right: 20px;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 60px;
  line-height: 70px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #563434;
}
.header {
  background: radial-gradient(#fff, #ffd6d6);
}
.header .row {
  margin-top: 70px;
}
.categories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 320px;
  height: 320px;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  cursor: pointer;
}
.col-4 img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.ratting .fa {
  color: orangered;
}
.col-4:hover {
  transform: translateY(-5px);
}
.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img {
  padding: 50px;
}
small {
  color: #555;
}
.testimonial {
  padding-top: 100px;
}
.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col-3 img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonial .col-3:hover {
  transform: translateY(-10px);
}
.fa.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}
.col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}
.brands {
  margin: 100px auto;
}
.col-5 {
  width: 160px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover {
  filter: grayscale(0);
}
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer p {
  color: whitesmoke;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 40px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 130px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style-type: none;
}
.images {
  margin-top: 20px;
}
.images img {
  width: 140px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.sk_creation {
  text-align: center;
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
}

.logo {
  width: 20%;
  padding-top: 20px;
  padding-left: 70px;
}
.navb {
  display: flex;
}
.nav-list {
  width: 50%;
  text-align: right;
  display: flex;
  padding-left: 360px;
  padding-top: 20px;
  padding-right: 100px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-list li {
  list-style: none;
  padding: 25px 10px 20px 20px;
}
.nav-list li a {
  text-decoration: none;
  color: #555;
}
.nav-list img {
  padding: 10px;
}
.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
}
.line {
  width: 33px;
  background-color: #000;
  height: 4px;
  margin: 3px 3px;
}
@media only screen and (max-width:1136px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
  .nav-list {
    flex-direction: column;
    padding: 50px 150px 0px 150px;
  }
  .logo {
    padding: 20px 10px;
  }
  .nav-list img {
    align-items: right;
  }
  .burger{
    display: block;
  }
  .logo img{
    width: 100px;
  }
  .h-nav-resp{
    height: 30px;
  }
  .v-class-resp{
    opacity: 0;
  }
}

@media only screen and (max-width:280px){
  .container {
    max-width: 1300px;
    margin: auto;
    padding-right: 25px;
  }
  .logo {
    padding: 20px 10px;
  }
  .burger {
    left: 110%;
  }
  .col-2 h1 {
    font-size: 60px;
    line-height: 70px;
    margin: 25px 0;
  }
}


@media only screen and (max-width: 800px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
  .nav-list {
    flex-direction: column;
    padding: 50px 150px 0px 150px;
  }
  .logo {
    padding: 20px 10px;
  }
  .nav-list img {
    align-items: right;
  }
  .burger{
    display: block;
  }
  .logo img{
    width: 100px;
  }
  .h-nav-resp{
    height: 30px;
  }
  .v-class-resp{
    opacity: 0;
  }
}
